* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ebe3e3;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #acfafa;
    gap: 9rem;
    font-family: Rockwell;
    font-weight: bold;
}

.logo img {
    height: 80px;
    flex: 1;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 200px;
}

nav a {
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 2px #ffffff;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Cooper Black;
}

nav a:hover {
    background-color: #ffffff33;
    color: #96a6d9
}

/* Portfolio */
#portfolio {
    background-color: white;
    padding: 50px 0;
}

.card {
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: transform 0.2s;
    align-items: center;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.card-title {
    color: #007bff; /* Títulos en azul */
}

/* Sección Nosotros */
#about {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px #00000080;
    transition: transform 0.3s;
    text-align: center;
}

/* Sección Contacto */
#contact {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px #00000080;
    transition: transform 0.3s;
    text-align: center;
}

#contact:hover {
    transform: scale(1.05);
}

#contact img {
    width: 100%; 
    border-radius: 10px;
}

#contact h3 {
    font-size: 24px;
    margin: 10px 0;
}

#contact p {
    font-size: 16px;
    margin-bottom: 15px;
}

#contact h2, #about h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: Cooper Black;
    color: #000000;
    text-shadow: 2px 2px 2px #409bf1;
    font-size: 80px;
}

#contact-grid {
    display: grid;
    gap: 30px;
    padding: 20px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

#about-grid {
    display: grid;
    gap: 30px;
    padding: 20px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

#contact:hover, #about:hover {
    transform: scale(1.05);
}

#contact p, #about p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #000000;
}

footer {
    background-color: #0e3b46;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  /* Responsividad */
  @media (max-width: 768px) {
      nav ul li {
          display: block;
          margin: 10px 0;
      }
  
      header .logo img {
          width: 120px; /* Ajustar logo en móviles */
      }
  }